@charset "UTF-8";

/*Confugurações de Body*/
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

/*Configurações video*/
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* Configurações de Imagem*/
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  margin-bottom: 20px;
}

/*Configurações h1*/
h1 {
  font-size: 24px;
  margin-bottom: 10px;

  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out; /* Suaviza a transição de cor */
}

h1:hover {
  color: #1a8e96; /* Cor ao passar o mouse (rosa, por exemplo) */
}

p {
  font-size: px;
}

/*Configurações de Botão*/
.button {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  padding: 15px;
  background-color: #00455c;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: 0.3s;
}

.button:hover {
  background-color: #1a8e96;
}

/*Confugurações Roda pé*/
footer {
  color: white;
  background-color: #161516;
  text-align: center;
  position: fixed; /* Mantém o rodapé fixo */
  bottom: 0; /* Gruda no final da tela */
  width: 100%; /* Ocupa toda a largura */
  font-size: 12px; /* Tamanho do texto */
}

footer p {
  transition: filter 0.3s ease-in-out; /* Suaviza a transição da cor */
}

footer p:hover {
  color: #1a8e96;
}
